streamlit
torch==2.5.1
torchvision==0.20.1

setuptools==80.9.0
wheel
packaging
ipython

opencv-python-headless
streamlit-webrtc
av

numpy<2
pandas
Pillow
PyYAML
requests
scipy
tqdm
matplotlib
seaborn
psutil
gitpython
thop
